<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/base_styles.css"> <!-- Подключение CSS -->
    <title>{{ title }}</title>
</head>
<body>
    <header>
        {% if user is not none %}
            {% if user.role == 4 %}
                <button class="button superuser-button" onclick="superuser_button('{{ url_for('show_live_search', username=user.username) }}')">Live Search List Panel</button>
                <div class="header-right">
                    <button class="button" onclick="logout_button()">Logout</button>
                </div>
            {% else %}
                <div class="dropdown">
                    <a href="{{ url_for('show_profile', username=user.username) }}">
                        <button class="button">{{ user.email }}</button>
                    </a>
                    <div class="dropdown-content">
                        <a href="{{ url_for('get_queries') }}">Query Table</a>
                        <a href="{{ url_for('get_urls')}}">Url Table</a>
                        <a href="{{ url_for('get_history') }}">All history Table</a>
                        <a href="{{ url_for('show_menu_merge_page') }}">Query & Url Merge Table</a>
                        <a href="{{ url_for('show_list', username=user.username) }}">List Panel</a>
                    </div>
                </div>
                <button class="button superuser-button" onclick="superuser_button('{{ url_for('show_superuser', username=user.username) }}')">Command Panel</button>
                <button class="button superuser-button" onclick="superuser_button('{{ url_for('show_live_search', username=user.username) }}')">Live Search List Panel</button>
                <button class="button superuser-button" onclick="superuser_button('{{ url_for('show_user_menu') }}')">User Menu</button>
                <button class="button superuser-button" onclick="superuser_button('{{ url_for('show_group_menu') }}')">Group Menu</button>
                <button class="button main-page-button" onclick="main_page_button()">Main Page</button>
                <div class="header-right">
                    <div class="dropdown">
                        <span class="dropdown-label">Проекты:</span>
                        <button class="button dropbtn" id="dropdownButton">
                            {% if config_names %}
                                None
                            {% else %}
                                None
                            {% endif %}
                        </button>
                        <div class="dropdown-content">
                            {% if config_names %}
                                {% for config in config_names %}
                                <a href="#" onclick="selectConfig('{{ config }}')">{{ config }}</a>
                                {% endfor %}
                            {% else %}
                                <div class="empty">None</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="dropdown">
                        <span class="dropdown-label">Группы:</span>
                        <button class="button dropbtn" id="secondDropdownButton">
                            {% if group_names %}
                                Group
                            {% else %}
                                None
                            {% endif %}
                        </button>
                        <div class="dropdown-content">
                            {% if group_names %}
                                {% for group in group_names %}
                                <a href="#" onclick="selectGroup('{{ group }}')">{{ group }}</a>
                                {% endfor %}
                            {% else %}
                                <div class="empty">None</div>
                            {% endif %}
                        </div>
                    </div>
                    <button class="button" onclick="logout_button()">Logout</button>
                </div>
            {% endif %}
        {% else %}
            <button class="button" onclick="login_button()">Login</button>
        {% endif %}
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <script>
        // Функция для получения сохраненного значения из localStorage
        function getSelectedConfig() {
            return localStorage.getItem('selectedConfig') || 'Dropdown';
        }
        function getSelectedGroup() {
            return localStorage.getItem('selectedGroup') || 'Group';
        }

        // Функция для установки сохраненного значения в localStorage
        function setSelectedConfig(configName) {
            localStorage.setItem('selectedConfig', configName);
        }
        function setSelectedGroup(groupName) {
            localStorage.setItem('selectedGroup', groupName);
        }

        // Установка сохраненного значения при загрузке страницы
        document.addEventListener('DOMContentLoaded', function() {
            const selectedConfig = getSelectedConfig();
            const selectedGroup = getSelectedGroup();

            // Установка текста кнопок в зависимости от состояния списка
            document.getElementById('dropdownButton').innerText = selectedConfig;
            document.getElementById('secondDropdownButton').innerText = selectedGroup;

            // Очистка localStorage, если списки пустые
            if (!{{ config_names|length }}) {
                localStorage.removeItem('selectedConfig');
                document.getElementById('dropdownButton').innerText = 'None';
            }

            if (!{{ group_names|length }}) {
                localStorage.removeItem('selectedGroup');
                document.getElementById('secondDropdownButton').innerText = 'None';
            }
        });

        function profile_button(url) {
            window.location.href = url;
        }
        function login_button() {
            window.location.href = '{{ url_for('login_page') }}';
        }
        async function logout_button() {
            try {
                const response = await fetch('/auth/jwt/logout', {
                    method: 'POST',
                });

                if (response.ok) {
                    // Очистка localStorage при успешном выходе
                    localStorage.removeItem('selectedConfig');
                    localStorage.removeItem('selectedGroup');
                    window.location.href = '/';
                } else {
                    const errorData = await response.json();
                    console.error('Error:', errorData.detail);
                    alert('Error: ' + errorData.detail);
                }
            } catch (error) {
                console.error('Error during logout:', error);
                alert('An error occurred during logout. Please try again.');
            }
        }
        function main_page_button() {
            window.location.href = '/';
        }
        async function selectConfig(configName) {
            document.getElementById('dropdownButton').innerText = configName;
            setSelectedConfig(configName);

            // Отправка POST-запроса на эндпоинт set_config
            try {
                const response = await fetch('{{ url_for('set_config') }}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ config_name: configName })
                });

                if (response.ok) {
                    console.log('Config set successfully');
                    window.location.reload();
                } else {
                    const errorData = await response.json();
                    console.error('Error:', errorData.detail);
                    alert('Error: ' + errorData.detail);
                }
            } catch (error) {
                console.error('Error during setting config:', error);
                alert('An error occurred during setting config. Please try again.');
            }
        }

        async function selectGroup(groupName) {
    // Установка нового имени группы в меню
    document.getElementById('secondDropdownButton').innerText = groupName;
    setSelectedGroup(groupName);

    // Сброс конфигурации при смене группы
    setSelectedConfig('None');
        document.getElementById('dropdownButton').innerText = 'None';

        // Отправка POST-запроса на эндпоинт set_group
        try {
            const response = await fetch('{{ url_for('set_group') }}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ group_name: groupName })
            });

            if (response.ok) {
                const data = await response.json();
                console.log('Group set successfully');

                // Установка имени конфигурации в меню
                const configName = data.details.config_name;
                document.getElementById('dropdownButton').innerText = configName;
                setSelectedConfig(configName);

                // Перезагрузка страницы, если это необходимо
                window.location.reload();
            } else {
                const errorData = await response.json();
                console.error('Error:', errorData.detail);
                alert('Error: ' + errorData.detail);
            }
        } catch (error) {
            console.error('Error during setting group:', error);
            alert('An error occurred during setting group. Please try again.');
        }
    }


        function superuser_button(url) {
            window.location.href = url;
        }
    </script>
</body>
</html>
